:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #3b4cca;
  --primary-hover-color: #4458f0;
  --secondary-color: #ffde00;
  --danger-color: #e74c3c;
  --light-gray: #e3e3e3;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.button{
  cursor: pointer;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 18px;
  display: inline;
  transition: background-color 0.3s ease;
}

.primary-button{
  color: white;
  background-color: var(--primary-color);

}
.primary-button:hover{
  background-color: var(--primary-hover-color);
}
.secondary-button{
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}

.secondary-button:hover{
  color: white;
  background-color: var(--primary-color);
}

.card-component{
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 20px;
  margin: 50px;
}
.card-component .title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pokemon-card{
  border: 1px solid var(--light-gray);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px 0;
}
.pokemon-card img{
  max-width: 200px;
  max-height: 200px;
}
.pokemon-name{
  font-size: 20px;
  font-weight: 500;
}
.pokemon-price{
  color: gray;
}
.pokemon-action{
  display: flex;
  justify-content: center;
}
.pokemon-action div{
  margin-top: 10px;
}
.pokemon-action div+div{
  margin-left: 10px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
